:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  box-sizing: border-box;

  color: rgba(60, 60, 60, 0.87);
  background-color: #e3e3e3;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: rgb(58, 144, 224);
  text-decoration: inherit;
}

a:hover {
  color: rgb(110, 185, 255);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

button,
input,
select {
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(72, 72, 72);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  margin: 0;
}

button {
  padding: 0.2rem 1rem;
  cursor: pointer;
  font-weight: 500;
  background-color: rgb(72, 72, 72);
  color: rgba(255, 255, 255, 0.87);
}

input,
select {
  padding: 0.2rem 0.5rem;
  background-color: rgb(240, 240, 240);
}

input:hover,
button:hover,
select:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

button:active:not([disabled]) {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  transform: translateY(1px);
}

button[disabled],
input[disabled],
select[disabled] {
  opacity: 0.35;
  cursor: default;
}

button.small {
  padding: 0 0.5rem;
  font-weight: 300;
}

button.danger {
  background-color: #c63636;
  border-color: #c63636;
}

button.action {
  background-color: rgb(58, 144, 224);
  border-color: rgb(58, 144, 224);
}

ul {
  line-height: 2;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

#root>header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  background-color: #484848;
  color: rgba(255, 255, 255, 0.87);
  padding: 0 1rem;
}

#root>header>h2 {
  margin: 0.5rem 0;
}

#root>header>ul {
  list-style-type: none;
  padding: 0;
  display: inline;
}

#root>header>ul>li {
  display: inline;
  margin-right: 1rem;
  font-size: larger;
}

#root>header>ul>li>a.active {
  color: rgb(192, 224, 254);
}

#root>main {
  margin: 1rem;
  flex: 1;
}

#root>footer {
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  background-color: #484848;
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
}

#container {
  display: flex;
  flex-direction: row;
}

#sidebar {
  width: 20rem;
  border-right: solid 1px #333333;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

#sidebar form {
  line-height: 2.5;
}

#sidebar ul {
  line-height: 2;
  list-style: none;
  padding: 0;
}

#sidebar ul a {
  overflow: hidden;
  white-space: pre;
  padding: 0rem 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
}

#sidebar ul li button {
  float: right;
}

#sidebar ul a:hover {
  background: rgb(191, 207, 222);
}

#sidebar ul a.active {
  background: rgb(58, 144, 224);
  color: white;
}

#info {
  flex: 1;
  padding: 0 2rem;
  width: 100%;
}

#info ul li {
  border-bottom: 0.5px dashed #333333;
  margin-bottom: 0.5rem;
}

#info ul li button {
  float: right;
}
